* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    padding: 0 20px;
    width: 100%;
    background-color: crimson;
    flex: 0 1;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 1px;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-left: auto;
}

.nav ul li {
    padding: 10px 15px;
    height: 100%;
}

.nav ul li a {
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav ul li:hover {
    background-color: hotpink;
}

.header {
    position: relative;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../../Portfolio/images/site/bg.jpg);
    background-position: center;
}

.header > h1 {
    position: absolute;
    bottom: 50px;
    left: 45px;
    color: white;
}

.about {
    background-color: lightblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about > img {
    width: 500px;
    height: auto;
    margin: 30px 0 0 90px;
}

.about .about_info {
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about .about_info h2 {
    color: darkslategray;
    text-align: center;
    margin-bottom: 20px;
}

.about .about_info p {
    width: 70%;
    text-align: justify;
    margin: 0;
}

.about .about_info p:last-child {
    margin-top: 25px;
}

#portfolio {
    width: 100%;
    height: 100vh;
    background-color: lightpink;
    position: relative;
}

#portfolio h2 {
    margin: 30px 0;
    text-align: center;
    color: hotpink;
}

.portfolio .task_1, .portfolio .task_2 {
    display: inline-block;
    margin-top: 50px;
}

.portfolio .task_1 {
    margin-left: 100px;
}

.portfolio .task_2 {
    margin-left: 300px;
}

.portfolio .task_1 > img, .portfolio .task_2 > img {
    width: 350px;
    height: auto;
}

.portfolio .task_1 > p, .portfolio .task_2 > p {
    font-size: 18px;
    text-align: center;
    color: darkslategray;
}

.contacts {
    background-color: aliceblue;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.contacts h2 {
    margin: 7px 0;
}

.social {
    margin: 20px 0;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.social li a img:hover {
    transform: scale(1.1);
}

.contacts p {
    margin: 3px 0;
}

footer {
    width: 100%;
    background-color: dimgray;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    font-size: 14px;
    color: beige;
    margin: 5px 0;
}

.window, .window1 {
    position: absolute;
    padding: 20px;
    border: solid black 1px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
/ / margin: 55 px auto;
    display: none;
    background: white;
    text-align: center;
    z-index: 2;

}

button {
    padding: 10px;
    background: green;
    border-radius: 5px;
}

#pro1 {
    text-align: center
}

.ach {
    margin-top: 100px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.ach img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.pro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-window, .close-window1 {
    margin-top: 20px;
}

.burger {
    position: absolute;
    right: 20px;
    top: 16px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    z-index: 999;
}

.burger span, .burger span:before, .burger span:after {
    width: 100%;
    position: absolute;
    height: 10px;
    background: #fff;
    display: block;
    transition: .3s;
    border-radius: 5px;
}

.burger span:before {
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span {
    top: 20px;
}

.burger span:after {
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active:before {
    content: "";
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active:after {
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active {
    background: rgba(255, 255, 255, 0);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 300px;
    height: auto;
    background: #333;
    color: #ccc;
    padding: 10px;
    position: absolute;
    top: -320px;
    left: -50%;
    transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu a {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.menu a:hover {
    background-color: gray;
}

.menu.animate {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}


/*scroll*/
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-track {
    background-color: darkslategrey;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #333333;
}

::-webkit-scrollbar-thumb:hover {
    background-color: coral;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0;
}

::-webkit-scrollbar {
    width: 4px;
}


/*scroll*/
.scroll-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 22px;
    color: red;
    border-radius: 5px;
    border: 2px solid red;
    width: 36px;
    height: 36px;
    right: 50px;
    bottom: 50px;
    z-index: 999;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateY(25px);
}

.scroll-up:hover {
    color: black;
    background-color: white;
    border-color: gray;
}

.scroll-up.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}



@media (max-width: 1150px) {
    .nav ul {
        width: 70%;
    }
}

@media (max-width: 1085px) {
    .about > img {
        width: 300px;
        height: auto;
        margin: 20px 20px 0 90px;
    }
}

@media (max-width: 890px) {
    .ach img {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 830px) {
    .nav ul {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .nav ul {
        display: none;
    }

    .burger {
        display: block;
    }

    .about {
        flex-direction: column;
        align-items: center;
    }

    .about img {
        width: 400px;
        height: auto;
        margin-bottom: 20px;
    }

    .about .about_info {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 90%;
    }

    .about .about_info p {
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 660px) {
    .header > h1 {
        top: 250px;
        left: 70px;
    }
    .about img {
        margin-left: 10px;
        margin-right: 10px;
    }
    .ach img {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }
    .scroll-up {
        right: 20px;
        bottom: 20px;
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 450px) {
    .about img {
        width: 300px;
    }
    .ach {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 420px) {
    .header > h1 {
        font-size: 26px;
        left: 50px;
    }
    .window, .window1 {
        width: 80%;
    }
}

@media (max-width: 310px) {
    .header > h1 {
        left: 30px;
    }
    .about img {
        width: 250px;
    }
}


